
input {
	border: solid #999;
	height:  100px;
	width:  100px;
	text-align:  center;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: absolute;
	left: 50px;
	top: 100px;
}

input:first-child {
  border-left: 5px solid #333;
}
input:nth-child(3n) {
  border-right: 5px solid #333;
}
tr:first-child {
  border-top: 5px solid #333;
}
tr:nth-child(3n) {
  border-bottom: 5px solid #333;
}


.solveB {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 5px;
	text-align: center;
	font-size: 50px;
}

.solveB:hover {
	cursor: pointer;
	background-color: #555;
}
